body {
  font-size: 25px;
  background-color: aquamarine;
  text-align: center;
}
#Name {
  background-color: black;
  color: white;
}
#Pic1 {
  max-width: 10%;
  height: auto;
}
#Port,
#Projects {
  text-align: center;
}
