body {
  color: #42413b;
  line-height: 1.57;
  width: 824px;
  margin: 40px auto;
}
.title_body{
  position: relative;
  width: 400px;

}
#cat_pic {
  position: relative;
  width: 408px;
  float: right;
  bottom:310px;
  left: 50px;
}
#pic0 {
  position: absolute;
  bottom: 110px;
  left: 450px;
}
#pic1,
#pic2,
#pic3 {
  float: left;
}
#pic4,
#pic5,
#pic6 {
  float: right;
}
#footer {
  clear: both;
  border-top: 1px solid;
  padding: 12px 0;
}


